@import "tailwindcss";

/* On utilise la syntaxe ':where' officielle de Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-light:#6D28D9;
  --color-brand-dark: #A78BFA;
}

@layer base {
  *, ::before, ::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  body {
    background-color: #ffffff;
    color: #111827;
  }
  
  .dark body {
    background-color: #111827;
    color: #f3f4f6;
  }
}